*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root{
    --container-width: 86vw;
}

.header{
    width: 100%;
    height: 90px ;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-around;
    position: fixed;
  
    z-index: 100;
}
.logo{
 width: 150px;
 user-select: none;
}



#list{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.list-element{
font-size: 14px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-weight: 400;
list-style-type: none;
text-decoration: none;
color: black;
height: 30px;
align-content: center;
margin-left: 4vw;
transition: all 0.3s;
}
.list-element:hover{
    color: rgb(90, 90, 90);
    transform: scale(1.1,1.1);
}
#withNav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: 50px;
    margin-left: 4vw;
}
#withNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0;
}
#withNav::before{
content: '';
border: 1px solid black;
padding: 3.3px;
border-bottom: none;
border-right:none;
transform: rotate(-135deg);
position: relative;
margin-left: 7px;
order: 2;
transition: all 0.4s;
}
#withNav.toggled::before {
    transform: rotate(45deg);
}
#nav-menu{
    width: 100px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    position: fixed;
    box-shadow: 0px 1px 12px  rgba(0, 0, 0, 0.388);
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-element{
    list-style-type: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-menu-element:hover{
    color: rgb(90, 90, 90);
    transform: scale(1.1,1.1);
}
.showing{
    opacity: 0;
    top: 90px;
}
.showing2{
    opacity: 1;
    top: 75px;
}
.unactive{
    pointer-events: none;
}
.aside{
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{
    border: none;
    background-color: white;
    cursor: pointer;
    user-select: none;
}
.shop{
    user-select: none;
}
#burger{
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.burger-stick{
    width: 100%;
    height: 4px;
    background-color: black;
    position: relative;
    transition: all 0.2s;
}
#burger-stick-one{
    display: block;
}
#burger-stick-three{
    position: absolute;
    width: 30px;
    margin-top: 10px;
    
}
.hidden {
    width: 0px;
}
.rotated {
    transform: rotate(45deg);
}
.rotated-reverse {
    transform: rotate(-45deg) 
}
#burger-list{
    width: 150px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
align-items: end;
padding-right:30px;
position: fixed;
z-index: 100;
border-bottom-left-radius: 50px ;
background-color: rgb(253, 253, 253);
top: 90px ;
transition: all 0.4s;
}
.show{
     right: -125px; 
    opacity: 0;
}
.show2{
     right: 0; 
    opacity: 1;
}
 #sub-burger-list{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
z-index: 1;
background-color: white;
height: 100px;
padding-right: 10px;
border-right: 1px solid black;
transition: all 0.3s;
} 
 .sub-burger-list-element{
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
    transition: all 0.3s;
    position: relative;
    } 
    .burger-list-element{
        list-style-type: none;
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        font-weight: 400;
        transition: all 0.3s;
    }
    .burger-list-element:hover{
        color: rgb(90, 90, 90);
        transform: scale(1.1,1.1);
    }
.section{
    width: var(--container-width);
    height: 33vw;
    border-radius: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(218, 232, 230);
    position: relative;
}
#content-part{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 2;
}
#content-part-container{
    width: 80%;
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 60px;
}
#main-text{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:3.6vw ;/*w546 h136*/
    line-height: 4vw;  
    margin: 0;

}
#sub-text{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.96vw;/* w532 h42 */
    margin: 0;
    
}
#footer-button{
    width: 9vw;/* 150 */
    height: 2.7vw;/* 45 */
    border: 1px solid black;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;/* 16 */
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    align-content: center;
    color: black;
    margin: 0;
    z-index: 2;
    transition: all 0.3s;
}
#footer-button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
#footer-button-text{
    font-size: 1.2vw;
    font-weight: 500;
}

#iphones-img{
    width: 38.7vw;
    height: 32.9vw;
}
#iphones-img2{
   position: absolute;
   display: none;
   width: 90%;
   max-width: 400px;
   height: 100%;
   opacity: 0.3;
   bottom: 0;
}
#footer-container{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.line{
width: 15%;
height: 2px;
background-color: black;
margin: 0;
position: relative;
margin: 30px;
}
#arrow-left{
    border: 3px solid black;
    border-bottom: none;
    border-right:none;
    border-radius: 3px;
    padding: 0.68vw;
    cursor: pointer;
    transform: rotate(-45deg);
    position: relative;
    left: 20px;
    transition: transform 0.4s;
}
#arrow-left:hover{
    transform: translateX(-10px) rotate(-45deg);
}

#arrow-right{
    border: 3px solid black;
    border-bottom: none;
    border-right:none;
    border-radius:3px;
    padding: 0.68vw;
    cursor:pointer;
    transform: rotate(135deg);
    position: relative;
    right: 20px;
    transition: transform 0.4s;
}
#arrow-right:hover{
    transform: translateX(10px) rotate(135deg);
}
.title{
    font-size:2.6vw;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 0.4px;
}
.sub-title{
    font-size: 0.9vw;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px;
}
  #cells-container{
    width: var(--container-width);
    height: 48vw;
    display: grid;
    grid-template-columns: 42vw repeat(2, 18.7vw);
    grid-template-rows: repeat(2, 23vw);  
    gap: 20px;
    justify-content: center;
    margin: auto;
} 


.cell{
    
    box-shadow: 3px 0px 12px 12px rgba(0, 0, 0, 0.136);
    transition:all 0.3s;
    cursor: pointer;
}
 .cell:hover{
    background-color: rgba(228, 228, 228, 0.919);
} 

.cell:active{
    transform: scale(0.9,0.9);
}
#first-cell{
   height: 30vw;
   box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.108);
}
#first-cell-text-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vw;
    text-align: end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cell-laptop-img{
    width: 30vw;
    margin-left: 3vw;
}
#second-cell{
     grid-row: 1/3;
    grid-column: 2/3; 
    box-shadow: 3px 0px 12px 12px rgba(0, 0, 0, 0.075);
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#second-cell-text-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6vw;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}
#cell-iphones-img{
    width: 18.6vw;
} 

#third-cell{
     grid-row: 1/3;
    grid-column: 3/4; 
    box-shadow: 3px 0px 12px 12px rgba(0, 0, 0, 0.092);
    display: flex;
    flex-direction:column;
    justify-content: center;

}
#third-cell-text-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6vw;
    text-align: center;
    margin-bottom:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cell-ipad-img{
    width: 18.6vw;
}
#cell-ipadfull-img{
    width: 18.6vw;
    display: none;
}
#fourth-cell{
    height: 15vw;
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0px 12px 12px rgba(0, 0, 0, 0.102);
    overflow: hidden;
}
#fourth-cell-text-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7.2vw;
    text-align: end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cell-watch-img{
    width: 22vw;
}
#cell-watchfull-img{
    display: none;
    width: 22vw;
}
.cell-title1{
    font-weight: 400;
    margin-right: 3vw;
    font-size: 1vw;
}
.cell-text1{
    font-weight: 500;
    margin-right: 3vw;
    font-size: 2vw;
}
.cell-title2{
    font-weight: 400;
    font-size: 1vw
}
.cell-text2{
    font-weight: 500;
    font-size: 2vw;
}
#items-container{
    width: var(--container-width);
    height:max-content;/* 396 */
    margin: auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.item{
    width: 21.2% ;/* 303 */
    min-width: 200px;
    min-height: 210px;
    height: 23.7vw ; /* 23.7vw */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%; 
    cursor: pointer;
    transition: all 0.3s ;
}
.item:hover{
    background-color: rgba(228, 228, 228, 0.919);
}
.item:active{
    transform: scale(0.9,0.9);
}
.item-text-con{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: start;
    width: 100%;
    height: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-name{
    font-weight: 500;
    font-size: 1.3vw; /* 22 */
}
.item-description{
    font-weight: 400;
    font-size: 0.85vw;/* 14 */
    line-height: 0.85vw;
    color: rgba(75, 75, 75, 1)
}
.item-price{
    font-weight: 500;
    font-size: 1.1vw; /* 18 */
}
#item-MacBookPro13-img,#item-SmartGalaxyWatch3-img,#item-MacBookAirM1-img,#item-iPad-img{
    width: 14.8vw;/* w247 h214 */
    min-width: 140px;
} 

#special-items-con{
    width: var(--container-width);
    height:max-content;/* 396 */
    margin: auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.special-item{
    width: 29%;
    min-width: 380px;
    height:  27vw ; /* 451 */
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;

}
.special-item-text-con{
    width: 100%;
    height: 35% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.item-sub-info{
    font-weight: 400;
    font-size: 0.85vw;/* 14 */
    line-height: 0.85vw;
    color: rgb(1, 1, 1);
}
.item-info{
    font-weight: 500;
    font-size: 2vw; /* 22 */
     margin-top: -8%; 
}
.item-footer-btn{
    display: block; 
    width: 10vw;/* 150px 9vw */
    height: 2.7vw;/* 45px 2.7vw */
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    z-index: 2;
    transition: all 0.3s;
    color: black; 
    font-weight: 500;
    font-size: 1.2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none; 
    
    }
    .item-footer-btn:hover{
        background-color: black;
        color: white;
    }
    #special-items-img{
        width: 62%;
    }
    #special-items-img2{
        width: 70.5%;
    }
    #special-items-img3{
        width: 85.1%;
    }
    #ideas-section-con{
        width: var(--container-width);
        height: max-content;
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    #ideas-section-img{
      /* width: 43%; *//* w620 h420 */
      width: 50%;
    }
    #ideas-section-text-con{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .ideas-section-txt{
        font-weight: 400;
        font-size: 1.8vw;/* 30 */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5%;
        margin-left: 2%;
    }
    #ideas-section-link{
        font-weight: 400;
        font-size: 1.8vw;/* 30 */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: black;
        transition: all 0.3s;
    } 
    #ideas-section-arrow{
       height: 1.7vw;
       min-height: 13.23px;
       min-width: 14.16px;
       transition: all 0.3s;
    }
    #ideas-section-link:hover{
        color: rgb(90, 90, 90);
    }
    #ideas-section-link:hover > #ideas-section-arrow{
       transform: translateX(3px) translateY(-3px);
    }
    #ideas-section-link:active{
        color: rgb(90, 90, 90);
    }
    #ideas-section-link:active > #ideas-section-arrow{
       transform: translateX(3px) translateY(-3px);
    }
    #input-search{
        width: 39vw; /* 650 */
        min-width:200px ;
        height: 3.6vw; /* 60 */
        min-height:35px;
        padding-left: 8%;
        padding-right: 2%;
        border-radius: 100px;
        font-size: 1.1vw; /* 18 */
        border: 1px solid rgb(177, 177, 177);
    }
    #search-img{
        position: absolute;
        z-index: 2;
        width: 1.8vw;/* 1.82% *//* 30 */
       /*  height:  3.7% ; *//* 29 */
        margin-left: 0.8%;
    }
    #keywords-con{
        width: 50vw;
        min-width: 150px;
        height: max-content;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }
    .keyword{
        border: 1px solid rgb(177, 177, 177);
        border-radius: 100px;
        width: max-content;
        height: max-content;
        padding: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 1.1vw; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 3%;
        cursor: pointer;
        transition: all 0.3s;
    }
    .keyword:hover, .keyword:active{
       /*  background-color: rgb(177, 177, 177); */
       border: 1px solid black;
    }
    
    #sign-up-con{
       width: 65%;
        aspect-ratio: 15/7; 
       min-height:300px;
       background-color: rgb(218, 232, 230);
       margin: auto;
       text-align: center;
       padding: 2%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       border-radius: 20px;
    }

#input-email-con {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12%;
    min-width: 200px; 
}


#input-email {
    border-radius: 100px 0 0 100px; 
    outline: none; 
    width: 30%;
    height: 100%;
    border: 1px solid black;
    background-color:rgba(0, 0, 0, 0);
    padding-left: 2%;
    padding-right: 7%;
    font-size: 1.1vw;
}


#email-button {
    height: 100%; 
    padding: 0 3.8%;
    font-size: 1.1vw;
    color: white;
    background-color: black; 
    border: none;
    border-radius: 0 100px 100px 0; 
    cursor: pointer;
    transition: background-color 0.3s;
}

#email-button:hover, #email-button:active {
    background-color: #373737;
}

.footer{
    width: 100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}
.footer-section{
  /*   width: 15% ; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
    width: max-content;
    height: max-content;
    text-align: start;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
.section-title{
    font-size: 1.5vw ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500 ;
}
.section-sub-title{
    font-size: 0.9vw;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
a.section-sub-title:hover, a.section-sub-title:active{
    transform: scale(1.1,1.1);
    color: rgb(90,90,90);
}
 @media (max-width:1475px){
 #items-container{
    justify-content: start;
    overflow-x: scroll;
} 
.item{
    min-height: 290px;
}
#special-items-con{
    overflow-x:scroll;
    justify-content: start;
}
}
@media (max-width:1150px){
    .list-element{
        font-size:13px;
    }
    .item-name{
        font-size: 18px;
    }
    .item-description{
        font-size:11px;
        line-height: 9px;
    }
    .item-price{
        font-size: 18px;
    }
    .item-text-con{
       margin-bottom: 5vw;
    } 
    .item-sub-info{
        font-size: 11px;
    } 
    .item-info{
        font-size: 20px;
    }
    .item-footer-btn{
        width: 100px;
        height: 40px;
        font-size: 16px;
        /* margin-bottom: 15px; */
    }
    #ideas-section-con{
        width: 100%;
    }
}
@media (max-width: 850px) {
    
    .logo {
        min-width: 130px; 
    }
    #list{
        display: none;
    }
    .aside{
        margin-right: 20px;
    }
    #burger{
        display: flex;
    }
    .section{
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    #content-part{
        width: 100%;
        align-items: center;
    }
    #content-part-container{
        margin-left: 0;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    #main-text{
        font-size: 30px;
        line-height: 30px;
    }
    #sub-text{
        font-size: 15px;
    }
    #footer-button{
        width: 100px;
        height: 40px;
    }
    #footer-button-text{
        font-size: 16px;
    }
    #iphones-img{
        display: none;
    }
    #iphones-img2{
        display: block;
    }
    .line{
        margin-bottom: -12px;
        width: 30px;
    }
    #arrow-left{
        padding: 9px;
    }
    #arrow-right{
        padding: 9px;
    }
    .title{
        font-size: 25px;
    }
    .sub-title{
        font-size: 11px;
        margin-right: 20px;
        margin-left: 20px;
    }
    #cells-container{
        grid-template-columns: repeat(2, 50%) ;
    }
    #second-cell{
        grid-row: 1/2;
        grid-column: 2/3; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } 
    #second-cell-text-con{
        margin-top: 0px;
        margin-left: 20px;
        text-align: start;
    }
    #cell-iphones-img{
        order: 2;
    }
    #third-cell{
        grid-row: 2/3;
        grid-column: 2/3; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #third-cell-text-con{
        margin-bottom: 0px;
        margin-left: 20px;
        text-align: start;
    }
    #cell-ipad-img{
        display: none;
    }
    #cell-ipadfull-img{
        display: block;
    }
    .item-sub-info{
        margin-top:4px
    }
    #ideas-section-link{
        font-size: 15px;
    }
    .section-title{
        font-size:20px
    }
    .section-sub-title{
        font-size: 11px;
        text-align: center;
    }
}
@media(max-width: 650px){
 #cells-container{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120vw;
}
.cell{
    width:80%
 }
 #first-cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#first-cell-text-con{
    width: fit-content;
    height: 80%;
 }
 #second-cell{
    height: 23.1vw;
 }
 #second-cell-text-con{
   width: fit-content;
   height: 80%;
}
#third-cell{
    height:23.1vw ;
 }
 #third-cell-text-con{
    width: fit-content;
    height: 80%; 
}
  #cell-ipadfull-img{
      height:23.06vw;
    } 
 #fourth-cell{
     align-self: center;
   height: 23.1vw;
}

#fourth-cell-text-con{
    width: fit-content;
    text-align: start;
    margin-right: 0;
    margin-left: 20px;
    height: 80%;
}
#cell-watch-img{
    display: none;
}
#cell-watchfull-img{
    display:block;
    order: 2;
    margin-top:25vw;
}
.cell-title1{
    font-size: 3.5vw;
    font-weight: 300;
}
.cell-text1{
    font-size: 5vw;
    font-weight: 400;
}
.cell-title2{
    font-size: 3.5vw;
    font-weight: 300;
}
.cell-text2{
    font-size: 5vw;
    font-weight: 400;
}
.item{
    margin-right: 0;
    margin-left: 10%;
}
#special-items-img{
    width: 60%;
}
#special-items-img2{
    width: 68%;
}
#special-items-img3{
    width: 83%;
}
#input-search{
    font-size:14px;
    padding-left: 31px;
}
#search-img{
    width: 20px;
    margin-left: 7px;
}
#keywords-con{
    width: 80%;
    margin-top: 2%;
}
.keyword{
    font-size: 14px;
}
#sign-up-con{
 width: 100%;
 border-radius: 0px;
}
#input-email-con {
    flex-direction: column;
    height: 25%;
}
#input-email{
    padding: 0 3%;
}
#input-email, #email-button {
    width: 50%;
    border-radius: 100px;
    margin: auto;
    font-size: 13px;
}
#email-button {
    margin-top: 2%; 
}
}
@media(max-width: 600px){
    #burger{
        margin-right: 10px;
  }
     .ideas-section-txt{
         font-size: 13px;
     }
     .ideas-section-link{
        font-size: 13px;
     }
   
} 
@media (max-width: 520px){
    .logo{
        width: 120px;    
    }
} 
@media (max-width:400px){
    .ideas-section-txt{
        font-size: 9px;
    }
    .ideas-section-link{
        font-size: 9px;
    }
}





 
/*  2
.header{
    width: 100%;
    height: 90px ;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
}
.logo{
 width: 150px;
 user-select: none;
}



#list{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.list-element{
font-size: 14px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-weight: 400;
list-style-type: none;
text-decoration: none;
color: black;
height: 30px;
align-content: center;
margin-left: 4vw;
transition: all 0.3s;
}
.list-element:hover{
    color: rgb(90, 90, 90);
    transform: scale(1.1,1.1);
}
#withNav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: 50px;
    margin-left: 4vw;
}
#withNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0;
}
#withNav::before{
content: '';
border: 1px solid black;
padding: 3.3px;
border-bottom: none;
border-right:none;
transform: rotate(-135deg);
position: relative;
margin-left: 7px;
order: 2;
transition: all 0.4s;
}
#withNav.toggled::before {
    transform: rotate(45deg);
}
#nav-menu{
    width: 100px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    position: fixed;
    box-shadow: 0px 1px 12px  rgba(0, 0, 0, 0.388);
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-element{
    list-style-type: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-menu-element:hover{
    color: rgb(90, 90, 90);
    transform: scale(1.1,1.1);
}
.showing{
    opacity: 0;
    top: 90px;
}
.showing2{
    opacity: 1;
    top: 75px;
}
.aside{
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{
    border: none;
    background-color: white;
    cursor: pointer;
    user-select: none;
}
.shop{
    user-select: none;
}
#burger{
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.burger-stick{
    width: 100%;
    height: 4px;
    background-color: black;
    position: relative;
    transition: all 0.2s;
}
#burger-stick-one{
    display: block;
}
#burger-stick-three{
    position: absolute;
    width: 30px;
    margin-top: 10px;
    
}
.hidden {
    width: 0px;
}
.rotated {
    transform: rotate(45deg);
}
.rotated-reverse {
    transform: rotate(-45deg) 
}
#burger-list{
    width: 110px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
align-items: end;
padding-right:30px;
position: fixed;
z-index: 2;
border-bottom-left-radius: 50px ;
background-color: rgb(253, 253, 253);
top: 90px ;
transition: all 0.4s;
}
.show{
     right: -125px; 
    opacity: 0;
}
.show2{
     right: 0; 
    opacity: 1;
}
 #sub-burger-list{
position: fixed;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: end;
z-index: -1;
background-color: rgb(255, 255, 255);
height: 100px;
top: 150px;
transition: all 0.3s;
} 
 .sub-burger-list-element{
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
    transition: all 0.3s;
    position: relative;
    } 
    .burger-list-element{
        list-style-type: none;
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        font-weight: 400;
        transition: all 0.3s;
    }
    .burger-list-element:hover{
        color: rgb(90, 90, 90);
        transform: scale(1.1,1.1);
    }

    .sub-show{
        right: -125px; 
        opacity: 0;
    }
    .sub-show-start{
        right: 0; 
        opacity: 0;
    }
    .sub-show-end{
        right: 200px;
        opacity: 1;
    }

@media (max-width: 520px){
    .logo{
        width: 120px;    
    }
}
@media (max-width: 850px) {
    .logo {
        min-width: 130px; 
    }
    #list{
        display: none;
    }
    .aside{
        margin-right: 20px;
    }
    #burger{
        display: flex;
    }
}
@media (max-width:1150px){
    .list-element{
        font-size:13px;
    }
}
@media(max-width: 600px){
  #burger{
    margin-right: 10px;
  }
} 
 */


/* 3
.header{
    width: 100%;
    height: 90px ;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
}
.logo{
 width: 150px;
 user-select: none;
}



#list{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.list-element{
font-size: 14px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-weight: 400;
list-style-type: none;
text-decoration: none;
color: black;
height: 30px;
align-content: center;
margin-left: 4vw;
transition: all 0.3s;
}
.list-element:hover{
    color: rgb(90, 90, 90);
    transform: scale(1.1,1.1);
}
#withNav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: 50px;
    margin-left: 4vw;
}
#withNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0;
}
#withNav::before{
content: '';
border: 1px solid black;
padding: 3.3px;
border-bottom: none;
border-right:none;
transform: rotate(-135deg);
position: relative;
margin-left: 7px;
order: 2;
transition: all 0.4s;
}
#withNav.toggled::before {
    transform: rotate(45deg);
}
#nav-menu{
    width: 100px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    position: fixed;
    box-shadow: 0px 1px 12px  rgba(0, 0, 0, 0.388);
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-element{
    list-style-type: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-menu-element:hover{
    color: rgb(90, 90, 90);
    transform: scale(1.1,1.1);
}
.showing{
    opacity: 0;
    top: 90px;
}
.showing2{
    opacity: 1;
    top: 75px;
}
.aside{
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{
    border: none;
    background-color: white;
    cursor: pointer;
    user-select: none;
}
.shop{
    user-select: none;
}
#burger{
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.burger-stick{
    width: 100%;
    height: 4px;
    background-color: black;
    position: relative;
    transition: all 0.2s;
}
#burger-stick-one{
    display: block;
}
#burger-stick-three{
    position: absolute;
    width: 30px;
    margin-top: 10px;
    
}
.hidden {
    width: 0px;
}
.rotated {
    transform: rotate(45deg);
}
.rotated-reverse {
    transform: rotate(-45deg) 
}
#burger-list{
    width: 110px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
padding-right:30px;
position: fixed;
z-index: 2;
border-bottom-left-radius: 50px ;
background-color: rgb(253, 253, 253);
top: 90px ;
transition: all 0.4s;
}
.burger-list-element{
    list-style-type: none;
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        font-weight: 400;
        transition: all 0.3s;
    }
    .burger-list-element:hover{
        color: rgb(90, 90, 90);
        transform: scale(1.1,1.1);
    }
    .show{
         right: -125px; 
        opacity: 0;
    }
    .show2{
         right: 0; 
         opacity: 1;
        }
#sub-withNav{
    height: 30px;
    background-color: white;
    width: max-content;
}
#sub-burger-list{
    position: fixed;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: end;
z-index: -1;
background-color: rgb(226, 226, 226);
top: 193px;
transition: all 0.3s;
} 
.sub-burger-list-element{
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
    transition: all 0.3s;
  
} 
.sub-show-start-main{
    height: 0px;
   
}
.sub-show-end-main{
    height: 100px;
   
}
.sub-show-start{
    position: absolute;
}
.sub-show-end{
    position: relative;
}


@media (max-width: 520px){
    .logo{
        width: 120px;    
    }
}
@media (max-width: 850px) {
    .logo {
        min-width: 130px; 
    }
    #list{
        display: none;
    }
    .aside{
        margin-right: 20px;
    }
    #burger{
        display: flex;
    }
}
@media (max-width:1150px){
    .list-element{
        font-size:13px;
    }
}
@media(max-width: 600px){
  #burger{
    margin-right: 10px;
  }
} */